<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="web.optimization" type="Web.Optimization.Configuration.OptimizationSection" />
  </configSections>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2">
		</compilation>
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="ERP.aspx" />
			</files>
		</defaultDocument>
	<modules runAllManagedModulesForAllRequests="true">
    <remove name="BundleModule" />
    <add name="BundleModule" type="System.Web.Optimization.BundleModule, System.Web.Optimization" />
  </modules>
	</system.webServer>
	<connectionStrings>
		<add name="erpDB" connectionString="Server=MSI;Database=ERP_DB;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	<appSettings>
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveValidationMode" value="true" />
	</appSettings>

	<web.optimization>
    <bundles>
      <bundle virtualPath="~/Content/sample" transform="System.Web.Optimization.JsMinify, System.Web.Optimization">
		  <content>
			  <!-- Add jQuery and validation scripts -->
			  <add path="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" />
			  <add path="https://ajax.aspnetcdn.com/ajax/jquery.validation/1.19.3/jquery.validate.min.js" />
			  <add path="https://ajax.aspnetcdn.com/ajax/jquery.validation/1.19.3/jquery.validate.unobtrusive.min.js" />
		  </content>
      </bundle>
    </bundles>
  </web.optimization>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>